@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f7f7f7;
}
.wrapper {
  background: #fff;
  width: 450px;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.form {
  padding: 25px 30px;
}
.form header {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}
.form form {
  margin: 20px 0;
}

.form form .field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}
.form form .field label {
  margin-bottom: 2px;
}
.form form .field input {
  outline: none;
}
.form form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form form .button input {
  margin-top: 13px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  background: #217680;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.form .link {
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}
.form .link a {
  color: #217680;
}
.form .link a:hover {
  text-decoration: underline;
}

/* users page */
.users {
  padding: 25px 30px;
}
.users header,
.users-list a {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}
:is(.users, .users-list) .content {
  display: flex;
  align-items: center;
}
:is(.users, .users-list) .details {
  margin-left: 15px;
  color: #000;
}
:is(.users, .users-list) .details span {
  font-size: 18px;
  font-weight: 500;
}
.users header .logout {
  background: #217680;
  color: #fff;
  padding: 7px 15px;
  font-size: 17px;
  border-radius: 5px;
}
.users .search {
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.users .search .text {
  font-size: 18px;
}
.users .search input {
  position: absolute; /* this section is for enter name to search*/
  height: 42px;
  width: calc(100% - 50px);
  border: 1px solid #ccc;
  padding: 0 13px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  outline: none;
}
/*.users .search .input.active{
  opacity: 1;
  pointer-events: auto;
} */
.users .search button {
  width: 47px;
  height: 42px;
  border: none;
  outline: none;
  color: #fff;
  background: #217680;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 17px;
  transform: translateX(725%);
}
.users-list {
  max-height: 350px;
  overflow-y: auto;
}
:is(.chat-box, .users-list)::-webkit-scrollbar {
  width: 0px;
}
.users-list a {
  padding-right: 15px;
  margin-bottom: 15px;
  page-break-after: 10px;
  border-bottom-color: #f1f1f1;
}
.users-list a:last-child {
  border: none;
  margin-bottom: 0px;
}
.users-list a .content p {
  color: #67676a;
}
.users-list a .status-dot {
  font-size: 12px;
  color: #468669;
}
/*offline status*/
.users-list a .status-dot.offline {
  color: #ccc;
}
/*chat area inbox*/
.chat-area header {
  display: flex;
  align-items: center;
  padding: 18px 30px;
}
.chat-area header .back-icon {
  font-size: 18px;
  color: #217680;
  margin-right: 15px;
}
.chat-area header span {
  font-size: 17px;
  font-weight: 500;
}
.chat-box {
  background: #f7f7f7;
  height: 500px;
  padding: 10px 30px 20px 30px;
  box-shadow: inset 0 32px 32px -32px rgba(0 0 0/5%),
    inset 0 -32px 32px -32px rgba(0 0 0/5%);
  overflow-y: auto;
}
.chat-box .chat {
  margin: 15px 0;
}
.chat-box .chat p {
  padding: 8px 16px;
  box-shadow: 0 0 32px rgba(0 0 0/8%), 0 16px 16px -16px rgba(0 0 0/10%);
  word-wrap: break-word;
}
.chat-box .outgoing {
  display: flex;
}
.outgoing .details {
  margin-left: auto;
  max-width: calc(100% - 130px);
}
.outgoing .details p {
  background: #217680;
  color: #f1f1f1;
  border-radius: 18px 18px 0 18px;
}
.chat-box .incoming {
  display: flex;
  align-items: flex-end;
}
.incoming .details {
  margin-right: auto;
  max-width: calc(100% - 130px);
  margin-left: 10px;
}
.incoming .details p {
  background: #fff;
  color: #333;
  border-radius: 18px 18px 18px 0;
}
.chat-area .typing-area {
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}
.typing-area input {
  height: 45px;
  width: calc(100% - 58px); /* try again for users page search bar */
  font-size: 17px;
  border: 1px solid #ccc;
  padding: 0 13px;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.typing-area button {
  width: 55px;
  border: none;
  outline: none;
  background: #217680;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 25px;
}
